.RadialProgress {
    --hue: 36;
    --holesize: 65%;
    --track-bg: hsl(235, 43%, 92%);

    width: 250px;
    height: 250px;
    min-width: 100px;
    min-height: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    position: relative;
    font-weight: 700;
    font-size: max(10vmin, 1.4rem);
    font-size: 50px;
    user-select: none;
    float: left;
    margin: 5px;
}

.RadialProgress::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(hsl(var(--hue) 100% 70%),
            hsl(var(--hue) 100% 40%),
            hsl(var(--hue) 100% 70%) var(--progress, 0%),
            var(--track-bg) var(--progress, 0%) 100%);

    -webkit-mask-image: radial-gradient(transparent var(--holesize),
            black calc(var(--holesize) + 0.5px));

    mask-image: radial-gradient(transparent var(--holesize),
            black calc(var(--holesize) + 0.5px));
}

body {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}